.header
	position: relative
	background-image: url(../img/main-screen__bg.jpg)
	background-repeat: no-repeat
	background-position: 89% 0px
	background-size: cover 

	@media (min-width: 1200px)
		background-position: center	

.header-menu
	margin: 0 auto
	padding: 1.5rem
	position: relative
	top: 0
	left: 0
	display: flex
	justify-content: space-between
	align-items: center
	width: 100%
	max-width: 32rem
	z-index: 3

	@media (min-width: 425px)
		padding: 1rem 1.5rem
		max-width: 40rem

	@media (min-width: 1200px)
		padding: 4rem 11rem 4rem 8rem
		max-width: 192rem
		
.header-logo 
	display: block
	width: 4rem
	height: 4rem

.header-nav 
	display: none

	a 
	font-size: var(--main-text)
	line-height: 1.5
	
	a:not(:last-child) 
		margin-right: 7.1rem
	
	@media (min-width: 1200px)
		display: block
	
.header__button
	display: none

	@media (min-width: 1200px)
		display: block

.header-content 
	padding-top: 9rem
	padding-bottom: 8rem

	@media (min-width: 1200px)
		padding-top: 20rem
		padding-bottom: 25rem
		
.header__title 
	margin-bottom: 5rem
	max-width: 30rem
	font-size: 3.2rem
	font-weight: 700
	line-height: 1.35
	text-align: center
	background: #12121299

	@media (min-width: 425px)
		max-width: 37rem
		font-size: 3.6rem

	@media (min-width: 1200px)
		max-width: 75rem
		font-size: 6.4rem
		text-align: unset
		background: unset

.header__timer 
	display: flex
	margin-bottom: 7.6rem

	@media (min-with: 1200px)
		margin-left: 0.4rem

.toggle-menu
	display: flex
	width: 45px
	height: 50px
	cursor: pointer
	z-index: 6

	span
		position: relative
		margin: auto
		width: 100%
		height: 5px
		background-color: #5528FF
		transition: .3s

		&:before, &:after
			position: absolute
			left: 0
			content: ''
			width: 100%
			height: 5px
			background-color: #5528FF
			transition: .3s

		&:before
			top: -15px
		
		&::after
			bottom: -15px

	@media (min-width: 768px)
		width: 50px
		height: 50px

	@media (min-width: 1200px)
		display: none
    
.toggle-menu.active
	span
		background-color: transparent

		&::before
			top: 0
			transform: rotate(45deg)
			background-color: red

		&::after
			bottom: 0
			transform: rotate(-45deg)
			background-color: red