.our-work
	padding: 20rem 0 21rem

.our-work__wrap
	display: flex
	flex-direction: column-reverse

	@media (min-width: 1200px)
		flex-direction: unset

.our-work__img
	
	@media (min-width: 1200px)
		margin-right: 13.9rem
		width: 54.6rem
		height: 54.9rem

.our-work__text
	padding-top: 6.9rem
	max-width: 63.5rem

.our-work__header
	font-size: 2.4rem
	font-weight: 700
	line-height: 1.4

	@media (min-width: 1200px)
		margin-bottom: 4.9rem
		font-size: 4.8rem
		

.our-work__descr
	font-size: var(--main-text)
	line-height: 1.6
